<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <ul class="nav navbar-top-links navbar-left">
        <li>
          <a class="navbar-brand" href="#"><img style="padding-top: 5px;"class="curve-logo" src="http://curvebreakerstestprep.com/assets/images/logo.png"></a>
        </li>
      </ul>
                  <% if current_user %>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i>Hello <%= current_user.name %></a>
                    </li>
                    <li><a href="/logout" data-method="delete"><span>Logout</a></li>
                </ul>
            </li>
        </ul>
                    <% end %>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                    </li>
                    <li>
                        <a href="/admin/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/admin/teachers"><i class="fa fa-users fa-fw"></i> Staff</a>
                    </li>
                    <li>
                      <a href="/admin/current-pairings"><i class="fa fa-address-book fa-fw"></i>Current Pairings</a>
                    </li>
                    <li>
                        <a href="/admin/pairing"><i class="fa fa-edit fa-fw"></i>Pair a Teacher & Student</a>
                    </li>
                    <li>
                      <a href="/admin/users/new"><i class="fa fa-plus fa-fw"></i> Create Student/Teacher Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
